@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    font-family: "Poppins", sans-serif;
    margin: 0%;
}

*::selection {
    background: rgb(191, 33, 33);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
}

html::-webkit-scrollbar-thumb {
    background: #fff;
}

/* pre loader start */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #e6eff1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
}

/* pre loader end */

/* navbar starts */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 9%;
    height: 6.5rem;
    background-color: #000;
    box-shadow: 0 3px 10px #000;
}

section {
    min-height: 100vh;
    padding: 2rem 9%;
}

.heading {
    font-size: 3.5rem;
    color: rgb(32, 32, 32);
    font-weight: 800;
    text-align: center;
}

.heading span {
    color: rgb(191, 33, 33);
}

header .logo {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Tourney", cursive;
    text-decoration: none;
    color: #fff;
}

header .logo:hover {
    color: rgb(191, 33, 33);
}

header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar li {
    margin-left: 2.5rem;
}

header .navbar ul li a {
    font-size: 1.57rem;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.3s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: rgb(191, 33, 33);
    border: 0.2rem solid rgb(191, 33, 33);
    padding: 0.5rem 1rem;
}

/* navbar ends */

/* hamburger icon starts*/
#menu {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media (max-width: 768px) {
    #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 6.5rem;
        right: -120%;
        width: 75%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
        background-color: rgb(191, 33, 33);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 1rem;
    }

    header .navbar ul li {
        text-align: center;
        width: 100%;
        margin: 2.5rem 0;
        border-radius: 0rem;
        width: 26rem;
    }

    header .navbar ul li a {
        display: block;
        padding: 1rem 0;
        text-align: left;
        color: #fff;
        font-size: 2rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        padding: 1rem 3rem;
        color: #fff;
        border: 0.1rem solid #fff;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        right: 0;
    }
}

/* hero section starts*/
.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
}

.home .content h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #fff;
}

.home .content h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: rgb(191, 33, 33);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding: 1rem 0;
}

.home .content p span {
    font-size: 2.5rem;
    color: rgb(191, 33, 33);
    font-weight: 600;
    padding: 1rem 0;
}

.home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    border-radius: 0em;
    transition: 0.5s;
    color: #fff;
    background: transparent;
    border: 0.2rem solid rgb(191, 33, 33);
    font-family: "Nunito", sans-serif;
}

.home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.home .btn {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
    padding: 2.5rem 2.5rem;
}

.home .btn:hover {
    background: rgb(191, 33, 33);
}

/* about section starts */
.about {
    background-color: #fff;
}

.about .content {
    flex: 1 1 40rem;
    padding-top: 7rem;
    z-index: 1;
}

.about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.about .row .image {
    text-align: center;
    flex: 1 1 35rem;
}

.about .row .image img {
    margin: 4rem;
    width: 35rem;
    height: auto;
    border-radius: 0%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
    transition: 0.3s;
}


.about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
}

.about .row .content h3 {
    color: rgb(27, 27, 27);
    font-size: 2.5rem;
}

.about .row .content .tag {
    font-size: 1.4rem;
    color: #020133;
    font-weight: 600;
    margin-top: 1rem;
}

.about .row .content p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
    text-transform: none;
}

.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
}

.about .row .content .box-container .box p {
    text-transform: none;
}

.about .row .content .box-container .box p span {
    color: rgb(191, 33, 33);
}

.moretext {
    display: none;
}

.resumebtn {
    margin-top: 3rem;
}

.resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0rem;
    transition: 0.3s;
    color: #fff;
    background: rgb(191, 33, 33);
    box-shadow: 0px 1px 10px rgb(191, 33, 33);
    font-family: "Nunito", sans-serif;
    cursor: pointer;
}

.resumebtn .btn span {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.resumebtn .btn:hover {
    background: rgb(191, 33, 33);
}

.resumebtn .btn:hover i {
    transform: translateX(5px);
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
    .about .row .image {
        margin-top: 2rem;
    }

    .about .row .image img {
        margin: 0 auto;
        width: 60%;
        mix-blend-mode: normal;
    }

    .about .row {
        padding: 0.5rem;
        margin-bottom: 7rem;
    }

    .about .row .content {
        padding: 1rem;
    }

    .about .row .content .box-container {
        gap: 0;
    }
}

/* about media queries ends*/
/* about section ends */

/* skills section starts */
.skills {
    background-color: #000;
}

.skills .content {
    flex: 1 1 40rem;
    padding-top: 7rem;
    z-index: 1;
}

.skills .content .heading {
    color: #fff;
}

.card-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 0;
    padding: 25px;
    /* backdrop-filter: blur(30px); */
}

.card {
    width: 140px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    ;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 15px 5px;
    padding: 15px 5px;
    text-align: center;
    border-radius: 0;
    opacity: 1;
}

.card-img {
    width: auto;
    height: 45%;
    margin: 1rem 1rem;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.card-text {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

/* skills section ends */

/* skills section starts */
.services {
    background-color: #000;
}

.services .content {
    flex: 1 1 40rem;
    padding-top: 7rem;
    z-index: 1;
}

.services .content .heading {
    color: #fff;
}

.services-card-container {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    width: 100%;
    border-radius: 0;
    justify-content: center;
}

.services-card {
    width: 400px;
    height: 65%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 15px 9.5px;
    padding: 15px 25px;
    text-align: start;
    border-radius: 3%;
    opacity: 1;
    cursor: pointer;
}

.services-card:hover {
    background-color: rgb(191, 33, 33);
    transform: scale(1.1);
}

.services-card {
    transition: transform 0.5s;
}

.services-card-img {
    width: 60px;
    height: 20%;
    margin: 1rem 1rem;
}

h1 .services-card-text {
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.services-card-text {
    display: flex;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* skills section ends */

/* scroll top starts */
#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    background: rgb(191, 33, 33);
    box-shadow: 0 2px 10px rgb(191, 33, 33);
    color: #fff;
    border-radius: 0;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 7rem);
}

/* scroll top ends */